<div>
    <% if current_page? my_workouts_path %>
        <div class="mb-2">
            <%= form_with method: :post do |form| %>
                <%= render "application/tag_selector", form: form %>
                <div class="m-0 mb-6 md:mt-2">
                    <%= form.button class: "m-0 mt-2 btn-primary", data: { turbo_frame: "modal", turbo_prefetch: false }, formaction: suggest_exercise_based_on_type_workout_path(workout) do %>
                        Suggest Exercise
                    <% end %>
                    <%= form.button class: "m-0 mt-2 btn-primary", data: { turbo_frame: "modal", turbo_prefetch: false }, formaction: suggest_workout_based_on_type_workout_path(workout) do %>
                        Suggest Workout
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>

    <% if current_user == workout.user && current_page?(my_workouts_path) %>
        <%= turbo_frame_tag dom_id(workout, "exercise_form"), class: "[&[busy]]:blur-sm [&[busy]+div]:block" do %>
            <%= render "exercises/form", workout: workout, exercise: Exercise.new %>
        <% end %>
        <%= render "application/loading_spinner" %>
    <% end %>
    
    <%= render "workout_analysis", workout: workout if current_page?(my_workouts_path) %>

    <div class="p-2">
        <%= turbo_frame_tag dom_id(workout, "exercises"), src: workout_exercises_path(workout), loading: "lazy" do %>
            <%= render "application/loading_spinner", show: true %>
        <% end %>    
    </div>

    <% if current_user == workout.user && current_page?(my_workouts_path) %>
        <div class="my-2">
            <%= button_to workout, method: :delete, type: :button, data: { confirm: 'Are you sure?', turbo_confirm: "Are you sure?"}, class: "text-red-600 font-bold" do %>
                <span class="">Delete Workout</span>
                <i class="fa-regular fa-trash-can cursor-pointer"></i>
            <% end %>
        </div>
    <% end %>
</div>