<div>
    <% if current_user == workout.user && current_page?(my_workouts_path) %>
        <p class="mb-2"><%= link_to "Add Exercise", new_workout_exercise_path(workout), class:"btn-primary", data: { turbo_frame: 'modal' } %></p>
    <% end %>

    <% if current_page? my_workouts_path %>
        <div class="mb-2">
            <%= form_with url: suggest_exercise_based_on_type_workout_path(workout), method: :get do |form| %>
                <%= render "application/tag_selector", form: form %>
                <div>
                    <%= form.button class: "btn-primary", data: { turbo_frame: "modal", turbo_prefetch: false } do %>
                        Suggest Exercise
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>
    
    <%= render "workout_analysis", workout: workout if current_page?(my_workouts_path) %>

    <div data-controller="dropdown" class="p-2">
        <%= button_tag data: { action: "click->dropdown#toggle" }, class: "link flex gap-0" do %>
            <i class="fa-solid fa-caret-right block w-[25px] h-[25px]" data-dropdown-target="rotatable"></i>
            <span>Toggle Exercises</span>
        <% end %>
        <div id="<%= dom_id(workout, "exercises") %>" data-dropdown-target="toggleable" class="hidden bg-gray-600 p-2 mt-4">
            <% if workout.exercises.blank? && current_user == workout.user %>
                <p>
                    <i class="fa-solid fa-arrow-up"></i>
                    Click the "Add Exercise" button to add exercises to this workout
                </p>
            <% else %>
                <% workout.exercises.order(date: :desc).each do |exercise| %>
                    <%= render "exercises/exercise", workout: workout, exercise: exercise %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>