<div data-controller="dropdown" class="p-2">
    <%= button_tag data: { action: "click->dropdown#toggle"}, class: "link flex gap-0" do %>
        <i class="fa-solid fa-caret-right block w-[25px] h-[25px]" data-dropdown-target="rotatable"></i>
        <span>Toggle Workout Analysis</span>
    <% end %>

    <div class="relative pb-2 hidden bg-gray-600 p-2 mt-4" data-dropdown-target="toggleable">
        <%= link_to "Generate Workout Analysis", evaluate_workout_workout_path(workout.id), data: { turbo_frame: dom_id(workout) + "_evaluation", turbo_prefetch: false }, class: "btn-primary" %>
        <%= turbo_frame_tag dom_id(workout) + "_evaluation", class: "[&[busy]]:blur-sm [&[busy]+div]:block" do %>
            <div>
                <% if workout.gemini_response.present? %>
                    <h3 class="text-xl underline">Workout Analysis</h3>
                    <%= sanitize workout.gemini_response_html %>
                <% else %>
                    <p>Add exercises to this workout in order to analyze it!</p>    
                <% end %>
            </div>
        <% end %>
        
        <%= render "application/loading_spinner" %>
    </div>
</div>