<div id="<%= dom_id workout %>">
  <p><span class="font-bold">Date:</span> <span> <%= time_ago_in_words workout.created_at %> ago</p>
  <p>
    <span class="font-bold">Name:</span>
    <%= workout.name %>
  </p>

  <p>
    <span class="font-bold">Description:</span>
    <%= workout.description %>
  </p>

  <p>
    <span class="font-bold">Muscle group:</span>
    <%= workout.muscle_group.name %>
  </p>

  <div class="mt-4">
    <% if workout.gemini_response.present? %>
      <%= sanitize workout.gemini_response_html %>
    <% else %>
      <%= sanitize workout.get_and_set_gemini_response %>
    <% end %>
  </div>
</div>
