<div>
    <% if current_page? my_workouts_path %>
        <div class="mb-2">
            <%= form_with url: suggest_exercise_based_on_type_workout_path(workout), method: :get do |form| %>
                <%= render "application/tag_selector", form: form %>
                <div>
                    <%= form.button class: "btn-primary", data: { turbo_frame: "modal", turbo_prefetch: false } do %>
                        Suggest Exercise
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>

    <% if current_user == workout.user && current_page?(my_workouts_path) %>
        <%= turbo_frame_tag new_workout_exercise_path(workout), class: "[&[busy]]:blur-sm [&[busy]+div]:block" do %>
            <%= render "exercises/form", workout: workout, exercise: Exercise.new %>
        <% end %>
        <%= render "application/loading_spinner" %>
    <% end %>
    
    <%= render "workout_analysis", workout: workout if current_page?(my_workouts_path) %>

    <div class="p-2">
        <%= turbo_frame_tag workout_exercises_path(workout), src: workout_exercises_path(workout), loading: "lazy" %>    
    </div>
</div>