<h1 class="page-header">Everyone's Workouts</h1>

<% @workouts.order(date: :desc).each_with_index do |workout, idx| %>
    <h1><span><%= idx + 1 %> - </span><%= workout.date.strftime("%Y-%m-%d") %> by User <%= workout.user_id %></h1>
    <%= render "workout", workout: workout %>
<% end %>

<%= link_to "Next Page", workouts_path(page: @page + 1) if @workouts.size == @per_page %>
<%= link_to "Previous Page", workouts_path(page: @page - 1) if @page > 1 %>