<h1 class="page-header">Everyone's Workouts</h1>

<div class="mb-[40px]">
    <% @workouts.order(date: :desc).each_with_index do |workout, idx| %>
        <h1><span><%= idx + 1 %> - </span><%= workout.date.strftime("%Y-%m-%d") %> by User <%= workout.user_id %></h1>
        <%= render "workout", workout: workout %>
    <% end %>
</div>

<div class="fixed bottom-0 left-0 w-full h-[40px] bg-gray-600">
    <div class="p-2 w-full flex justify-between">
        <% if @page > 1 %>
            <%= link_to workouts_path(page: @page - 1), class: "flex items-center gap-2" do %>
                <i class="fa-solid fa-angles-left w-[15px] h-[15px] block"></i>
                <span>Previous Page</span>
            <% end %>
        <% else %>
            <span></span>
        <% end %>

        <% if @workouts.size == @per_page %>
            <%= link_to workouts_path(page: @page + 1), class: "flex items-center gap-2" do %>
                <span>Next Page</span>
                <i class="fa-solid fa-angles-right w-[15px] h-[15px] block"></i>
            <% end %>
        <% else %>
            <span></span>
        <% end %>
    </div>
</div>