<h1 class="page-header">Workouts</h1>

<div id="workouts">
  <% @workouts.order(created_at: :desc).each do |workout| %>
    <div class="mb-4">
        <%= render workout %>
        <div>
          <%= link_to workout, class: "text-gray-400 font-bold mr-4 md:mr-2", title: "View Workout" do %>
            <i class="fa-regular fa-eye"></i>
          <% end %>
          <%= link_to edit_workout_path(workout), class: "text-gray-400 font-bold mr-4 md:mr-2", title: "Edit Workout" do %>
            <i class="fa-solid fa-pencil"></i>
          <% end %>
          <%= button_to workout, method: :delete, title: "Delete Workout", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, form_class: "inline-block text-gray-400 font-bold mr-4 md:mr-2", type: :button do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>
        </div>
    </div>
  <% end %>
</div>

<%= link_to "New workout", new_workout_path %>
