<%= link_to new_workout_path, class: "btn-primary mb-4" do %>
  <span>Add A Workout</span>
  <div>
    <i class="fa-solid fa-square-plus"></i>
    <i class="fa-solid fa-dumbbell"></i>
  </div>
<% end %>

<h1 class="page-header">Workout Log</h1>

<div id="workouts">
  <% @workouts.order(created_at: :desc).each do |workout| %>
    <div class="mb-4 border-2 p-2">
        <%= render workout %>
        <div class="mt-2">
          <%= render "workouts_show_link", workout: workout %>

          <%= render "workouts_edit_link", workout: workout %>

          <%= render "workouts_destroy_link", workout: workout %>
        </div>
    </div>
  <% end %>
</div>
