<%= turbo_frame_tag "modal" do %>
  <div data-controller="turbo-modal" class="p-4" data-action="<%= local_assigns[:close_on_submit] ? "turbo:submit-end->turbo-modal#submitEnd" : "" %> click@window->turbo-modal#closeBackground [&[busy]:text-red-600]" data-turbo-modal-target="modal">
      <h1 class="page-header"><%= title %></h1>

      <%= yield %>
    
      <p><%= button_tag "Close", data: { action: "click->turbo-modal#hideModal" }, class: "btn-cancel" %></p>
  </div>
<% end %>