<%= form_with model: [workout, exercise, exercise_set], data: { controller: :form, action: "turbo:submit-end->form#clear" } do |f| %>
  <% if exercise_set.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exercise_set.errors.count, "error") %> prohibited this exercise set from being saved:</h2>

      <ul>
        <% exercise_set.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="flex items-end gap-x-2">
        <div class="basis-1/5 md:basis-14">
            <%= f.label :reps, class: "font-bold" %><br />
            <%= f.number_field :reps, class: "w-full h-8 py-0 px-1 " %>
        </div>
        <div class="basis-1/5 md:basis-24">
            <%= f.label :weight, class: "font-bold" %><br />
            <%= f.number_field :weight, class: "w-full h-8 py-0 px-1", step: ".25" %>
        </div>
        <div class="">
            <%= f.label :weight_unit, "Wt. Unit", class: "font-bold" %><br />
            <%= f.select :weight_unit, ["lbs", "g"], {}, class: "w-full h-8 py-0 px-1" %>
        </div>
        <div class="">
            <%= f.button type: :submit, class: 'btn-primary w-full h-8 py-0 px-1 m-0' do %>
                <% if exercise_set.new_record? %>
                    Add Set
                <% else %>
                    Update
                <% end %>
            <% end %>
        </div>
    </div>
<% end %>