<div id="<%= dom_id exercise %>">
  <p class="italic">Completed <span> <%= time_ago_in_words exercise.created_at %> ago</p>
  <p>
    <span class="font-bold">Name:</span>
    <%= exercise.name %>
  </p>

  <p>
    <span class="font-bold">Description:</span>
    <%= exercise.description %>
  </p>

  <div>
    <% if exercise.gemini_response.present? %>
      <%= sanitize exercise.gemini_response_html %>
    <% else %>
      <%= sanitize exercise.get_and_set_gemini_response_html %>
    <% end %>
  </div>

  <div class="mb-4 mt-2">
    <div>
        <%= render "exercises/exercises_show_link", workout: workout, exercise: exercise %>
        <% if current_user.id == exercise.user.id %>   
          <%= render "exercises/exercises_edit_link", workout: workout, exercise: exercise %>
          <%= render "exercises/exercises_destroy_link", workout: workout, exercise: exercise %>
        <% end %>
    </div>
  </div>
</div>
