<div class="mb-4 border-2 p-2" data-controller="dropdown" id="<%= workout_exercise_path(workout, exercise) %>">
    <%= button_tag type: :button, class: "flex items-center cursor-pointer", data: { action: "click->dropdown#toggle"} do %>
        <i class="fa-solid fa-caret-right block w-[25px] h-[25px]" data-dropdown-target="rotatable"></i>
        <p id="<%= dom_id exercise, "info_link" %>"><%= exercise.name %></p>
    <% end %>
    <div data-dropdown-target="toggleable" class="hidden">
        <%= turbo_frame_tag dom_id(exercise), src: workout_exercise_path(workout, exercise), loading: "lazy" %>
    </div>
</div>