<%= form_with(model: [workout, exercise]) do |form| %>
  <% if exercise.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% exercise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, placeholder: "e.g. Bicep Curls, Zumba, Swimming", class: "placeholder:text-sm w-full md:w-[unset]" %>
  </div>

  <div>
    <%= form.label :description, "Description (optional)", style: "display: block" %>
    <%= form.text_field :description, placeholder: 'e.g. Ran for 2 miles', class: "placeholder:text-sm w-full md:w-[unset]" %>
  </div>

  <div>
    <%= form.button type: :submit, class: "btn-primary mt-2 w-full justify-center md:w-[unset]" do %>
      <% if exercise.new_record? %>
        <span>Create Exercise</span>
        <div>
          <i class="fa-solid fa-square-plus"></i>
          <i class="fa-solid fa-dumbbell"></i>
        </div>
      <% else %>
        <span>Update Exercise</span>
        <div>
          <i class="fa-solid fa-circle-check"></i>
          <i class="fa-solid fa-dumbbell"></i>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
