<!DOCTYPE html>
<html>
  <head>
    <title>Workout Recorder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-zinc-900 text-zinc-300">
    <%= render "header" %>

    <div class="my-6">
      <% if notice %>
        <p class="notice px-6"><%= notice %></p>
      <% elsif alert %>
        <p class="alert px-6"><%= alert %></p>
      <% end %>
    </div>

    <%= turbo_frame_tag "modal", class: "absolute top-1/2 left-1/2 bg-gray-600 flex justify-center" %>

    <div class="px-6">
      <%= yield %>
    <div>
  </body>
</html>
